@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    z-index: 2;
}
html{
    scroll-behavior: smooth;
    font-family: 'poppins', serif;
}

#logo:hover{
    color: green;
    cursor: pointer;
}
#unite{
    background-color: transparent;
    width: 25vw;
}
#unite:hover{
    background-color: green;
}
.main{
    width: 100%;
    height: 100vh;
    background:linear-gradient(
        0deg,
        rgba(32, 32, 32, 0.5),
        rgba(32, 32, 32, 0.5)
        ),url("../assets/Images/main3.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.main__container{
    text-align: center;
    width: 100%;
}

.main__container h1{
    font-size: 7rem;
    margin: 10px;
}

.main__container h2{
    margin: 10px;
    font-size: 3.5rem;
}

.main__container h1, .main__container h2{
    color:white;
}

.footer{
    border-top: 2px solid black;
    background:linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
        ),url("../assets/Images/footer.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 30px;
}


.footer__container__nav, .footer__container__h2, .footer__container__social, #copy{
    display:block;
    text-align: center;
    padding:3vh 0vh;
    color: white;
    margin: 0;
}
.footer__container__nav__ul{
    margin:0;
    padding:0;
}
.footer__container__h2{
    font-size: 2rem;
    color: white;
}

.footer a{
    text-decoration: none;
    color: white;
    margin: 25px;
    font-size: 1rem;
}

.footer__container__social a{
    font-size: 2.5rem;
    margin-top: 50px;
}

.footer__container__nav__ul a:hover{
    text-decoration: underline 2px green;
}

.footer i:hover{
   color: green;
}


/* -------------------------------------NOSOTROS------------------------------------------ */
.main__nos__home{
    background-image: linear-gradient(
        0deg,
        rgba(32, 32, 32, 0.8),
        rgba(32, 32, 32, 0.8)
        ),
        url("../assets/Images/main.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.carousel{
    max-height: 80vh;
    height: auto;
}

.carousel-inner{
    height: auto;
    border-radius: 10px;
}

.carousel-control-prev, .carousel-control-next{
    width: 5%;
}
.img__nos{
    box-shadow: 0px 0px 10px 5px rgb(255, 255, 255);
}

.main__nos__home__p{
    font-size: 1.25rem;
}

.main__nos__home2{
    background: linear-gradient(
        0deg,
        rgba(32, 32, 32, 0.8),
        rgba(32, 32, 32, 0.8)
        ),
        url("../assets/Images/main2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    height: auto;
    border-top:  2px solid black;;
}

.main__nos__home2__h1{
    color: white;
    text-align: center;
    font-size: 6rem;
    margin-bottom: 100px;
    margin-top: 60px;
    letter-spacing: 1px;
}

 




/* ---------------------------Tienda-------------------------- */
.main__tienda{
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
        ),
    url("../assets/Images/bg_tienda2.jpg");
    ;
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
}

.main__tienda__navbar{
    width: 100%;
    height: auto;
    text-align: center;
}

.border-radius{
    border-radius: 10px;
}
.button__tienda{
    background-color: transparent;
}
.button__tienda:hover{
    background-color: green;
}
/* ---------------------------CRONOGRAMA-------------------------- */

iframe{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70vh;
    border: none;
    margin: 30px 0px;
}
.main__crono{
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}
.main__crono__titulos{
    padding-top: 10vh;
    text-align: center;
}

.main__crono__titulos__h1{
    font-size: 5rem;
}
.main__crono__titulos__h2{
    font-size: 2rem;
}

.main__crono__grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr) ;
    grid-template-rows: 7vh repeat(3, auto);
    row-gap: 20px;
    column-gap: 20px;
    width: 75%;
    height: 100vh;
    background-color: transparent;
    margin: auto;
}

.main__crono__grid__negro{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.main__crono__grid__info{
    background-color: rgba(179, 179, 179, 0.411);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
}


/* ---------------------------CONTACTO-------------------------- */
.main__pagcont{
    min-height: 100vh;
    width: 100%;
    height: auto;
}
.main__pagcont__h1{
    padding-top: 10vh;
    font-size: 3rem;
}
.main__pagcont__h2{
    padding-top: 5vh;
    font-size: 3rem;
}

.main__pagcont__contacto{
    width: 100%;
    height: 22vh;
    margin-top: 5vh;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.main__pagcont__form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
    flex-direction: column;
    margin: 40px 0;
    
}

.contact_form_detail{
    font-family: 'poppins';
    font-size: 1.25rem;
    width: 15vw;
    height: 5vh;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 3vw;
}

.contact_form_detail1{
    font-family: 'poppins';
    font-size: 1.25rem;
    width: 57vw;
    height: 5vh;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 3vw;
    height: 20vh;
}

.submit_btn{
    width: 10vw;
    height: 5vh;
    border: none;
    background-color: green;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
@media screen and (min-width:0px) and (max-width:768px){
    .main{
        height: 75vh;
    }
    .main__container h1{
        font-size: 3rem;
        color:white;
        margin: 0;
    }
    .main__container h2{
        font-size: 2rem;
        text-align: center;
    }
    #unite {
        width: auto;
    }
    .footer__container{
        background-image:linear-gradient(
            0deg,
            rgba(32, 32, 32, 0.5),
            rgba(32, 32, 32, 0.5)
            ),
        url("../assets/Images/footer.jpg");

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }
    
    .footer__container__ul{
        flex-wrap: wrap;
    }
    .footer__container__ul a:hover{
        letter-spacing: 0px;
    }

    /* ---------------------------NOSOTROS------------------------ */
    
    
    .img__nos{
        display: none;
    }
    .main__nos__home__container p{
        font-size: 4vw;
        text-align: center;
    }
    .main__nos__home2 .carousel-inner{
        display: none;  
    }

    .main__nos__home2__h1{
        font-size: 11vw;
        margin: 20px;
    }
   

    /* ---------------------------TIENDA-------------------------- */
    
    .main__tienda{
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
        ),
    url("../assets/Images/bg_tienda2.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: auto ;
    }
    .main__tienda__navbar h1{
        color: white;
        font-size: 2rem;

    }
    

    /* ---------------------------CRONOGRAMA-------------------------- */
    iframe{
        margin-top: 10vh;  
        height: 40vh;
    }
    .main__crono{
        height:auto;
    } 
    .main__crono__grid{
        width: 75%;
        height: auto;
    } 
    .main__crono__titulos{
        padding-top: 10vh;
        text-align: center;
    }
    .main__crono__titulos__h1{
        font-size: 3rem;
    }
    .main__crono__titulos__h2{
        font-size: 1.5rem;
    }

    /* ---------------------------CONTACTO-------------------------- */


    .main__pagcont__contacto{
        height: auto;
        margin: auto;
        padding-top: 10px;
    }
    .main__pagcont__h1{
        padding: 5vh 0;
    }
    .main__pagcont__contacto ul{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        list-style:none;
        align-items: start;
        height: 100%;
        font-weight: bold;
    }
    .main__pagcont__contacto__ul li{
        margin: 10px;
    }
    
    .contact_form_detail, .contact_form_detail1{
        width: 60vw;
    }
    .row{
        flex-direction: column;
    }
    .submit_btn{
        width: 20vw;
    }

}





