@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: 'poppins', serif;

}


.header__container{
    z-index: 99;
    width: 100%;
    height: 8vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    padding: 0 3.5vw ;
    align-items: center;
}

.header__container__logo h1,  .header__container__nav__ul, a {
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.header__container__logo h1:hover{
    color: green;
}
.header__container__nav__ul a{
    margin: 20px;
}

.header__container__nav__ul a:hover{
    text-decoration: underline 2px green;
    color:white;
}

.main{
    width: 100%;
    min-height: 100vh;
    height: auto;
    background:linear-gradient(
        0deg,
        rgba(32, 32, 32, 0.5),
        rgba(32, 32, 32, 0.5)
        ),url("/assets/Images/main1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.main__container{
    text-align: center;
    width: 100%;
    height: auto;
    position: absolute;
    top:30vh;
}

.main__container__titulo1{
    font-size: 7rem;
    margin: 10px;
}

.main__container__titulo2{
    margin: 10px;
    font-size: 3.5rem;
}

.main__container__titulo1, .main__container__titulo2{
    color:white;
}

.main__container__button{
    width: 10vw;
    height: 5vh;
    border-radius: 10px;
    border: solid 1px white;
    margin: 7vh auto;
    background-color: transparent  ;
    color: white;
    font-size: 1.5rem;
}

.main__container__button:hover{
    background-color: green;
    transition: 0.35s;
}

.footer{
    width: 100%;
    height: auto;
    border-top: 2px solid black;
    background:linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
        ),url("/assets/Images/footer.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 30px;
}


.footer__container__nav, .footer__container__h2, .footer__container__social, #copy{
    display:block;
    text-align: center;
    padding:3vh 0vh;
    color: white;
    margin: 0;
}
.footer__container__nav__ul{
    margin:0;
    padding:0;
}
.footer__container__h2{
    font-size: 2rem;
    color: white;
}

.footer a{
    text-decoration: none;
    color: white;
    margin: 25px;
    font-size: 1rem;
}

.footer__container__social a{
    font-size: 2.5rem;
    margin-top: 50px;
}

.footer__container__nav__ul a:hover{
    text-decoration: underline 2px green;
}

.footer i:hover{
   color: green;
}


/* -------------------------------------NOSOTROS------------------------------------------ */
.main__nos__home{
    background-image: linear-gradient(
        0deg,
        rgba(32, 32, 32, 0.8),
        rgba(32, 32, 32, 0.8)
        ),
        url("/assets/Images/main.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    width: 100%;
    height:100vh;
}
.main__nos__home__container{
    width: 30%;
    height: 50vh;
    position: absolute;
    content: "";
    right: 20%;
    top: 27%;
    color: white;
    margin: 10px;
}

.main__nos__home__container__h1{
    font-size: 4rem;
    font-weight: bold;
    margin:10px;
}
.main__nos__home__container__h2{
    font-size: 2rem;
    font-weight: lighter;
    margin:10px;
}

.main__nos__home__container__p{
    font-size: 1.25rem;
    margin:10px;
}

.main__nos__home2{
    background: linear-gradient(
        0deg,
        rgba(32, 32, 32, 0.8),
        rgba(32, 32, 32, 0.8)
        ),
        url("/assets/Images/main2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    border-top:  2px solid black;;
}

.main__nos__home2__h1{
    color: white;
    text-align: center;
    font-size: 6rem;
    margin-bottom: 100px;
    margin-top: 60px;
    letter-spacing: 1px;
}

.main__nos__home__media img{
    width: 40%;
    height: auto;
    position: absolute;
    left: 5%;
    top: 30%;
    box-shadow: 0px 0px 10px 5px rgb(255, 255, 255);
}

.main__nos__home__media2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.main__nos__home__media2 img, video{
    height: 500px;
    width: auto;
    margin: 40px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 2px rgb(255, 255, 255);
    z-index: 0;
}




/* ---------------------------Tienda-------------------------- */
.main__tienda{
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
        ),
    url("/assets/Images/bg_tienda2.jpg");
    ;
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    padding-top: 10vh;
}
.main__tienda__container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
}
.main__tienda__navbar{
    width: 100%;
    height: auto;
    text-align: center;
    padding-bottom: 3vh;
}
.main__tienda__navbar h1{
    color: white;
    font-size: 3rem;
    text-decoration: underline;
    padding-bottom: 2vh;
}

.main__tienda__container__producto{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1vw;
    width: 20vw;
    height: 40vh;
    border-radius: 10px;
}
.main__tienda__container__producto:hover{
    box-shadow: 0px 0px 10px 3px  rgba(207, 207, 207, 0.37);
    
    z-index: 99;
}
.main__tienda__container__producto__info{
    height: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main__tienda__container__producto__info:hover{
    opacity: 1;
    border-radius: 10px;
}
.main__tienda__container__producto__info h2{
    display: flex;
    justify-content: center;
    color: white;
    margin: 0;
    padding: 20px 0px;
    text-decoration: underline;
    text-align: center;
}


.main__tienda__container__producto button{
    margin: 0 auto;
    display: flex;
    background-color: transparent;
    border: solid 1px white;
    border-radius: 10px;
    color: white;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 7vh;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.main__tienda__container__producto button:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}


/* ---------------------------CRONOGRAMA-------------------------- */

iframe{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70vh;
    border: none;
    margin: 30px 0px;
}
.main__crono{
    min-height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}
.main__crono__titulos{
    padding-top: 11vh;
    text-align: center;
}

.main__crono__titulos__h1{
    font-size: 4rem;
}
.main__crono__titulos__h2{
    font-size: 2rem;
}

.main__crono__grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr) ;
    grid-template-rows: 7vh repeat(3, auto);
    row-gap: 20px;
    column-gap: 20px;
    width: 75%;
    height: 100vh;
    background-color: transparent;
    margin: auto;
}

.main__crono__grid__negro{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.main__crono__grid__info{
    background-color: rgba(179, 179, 179, 0.411);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
}


/* ---------------------------CONTACTO-------------------------- */
.main__pagcont{
    min-height: 100vh;
    width: 100%;
    height: auto;
}
.main__pagcont__h1{
    text-align: center;
    padding-top: 10vh;
    font-size: 3rem;
    text-decoration: underline;
}
.main__pagcont__h2{
    text-align: center;
    padding-top: 5vh;
    font-size: 3rem;
}

.main__pagcont__contacto{
    width: 100%;
    height: 22vh;
    margin-top: 5vh;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.main__pagcont__contacto__ul{
    display: flex;
    list-style:none;
    align-items: center;
    height: 100%;
    font-weight: bold;
    justify-content: space-around;
}

.main__pagcont__contacto__ul i{
    align-items: center;
    margin-right:10px ;
}

iframe{
    height: 50vh;
}

.main__pagcont__form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
    flex-direction: column;
    margin: 40px 0;
    
}

.contact_form_detail{
    font-family: 'poppins';
    font-size: 1.25rem;
    width: 15vw;
    height: 5vh;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 3vw;
}
.row{
    display: flex;
    flex-direction: row;
}

.contact_form_detail1{
    font-family: 'poppins';
    font-size: 1.25rem;
    width: 57vw;
    height: 5vh;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 3vw;
    height: 20vh;
}

.submit_btn{
    width: 10vw;
    height: 5vh;
    border: none;
    background-color: green;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
@media screen and (min-width:0px) and (max-width:768px){
    
    .header__container{
        position: static;
        width: 100%;
        background-color: black;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        height: auto;    
        padding: 0;
    }
    .header__container__logo h1{
        font-size: 2.5rem;
    }

    .subrayado{
        padding:0;
    }
    .animacion:hover{
        letter-spacing: 0;
    }

    .main{
        background-position: 65%;
    }

    .main__container h1{
        font-size: 5rem;
        color:white;
        margin: 0;
    }
    .main__container h2{
        font-size: 2.5rem;
        text-align: center;
    }

    .footer__container{
        background-image:linear-gradient(
            0deg,
            rgba(32, 32, 32, 0.5),
            rgba(32, 32, 32, 0.5)
            ),
        url("/assets/Images/footer1.jpg");

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }
    
    .footer__container__ul{
        flex-wrap: wrap;
    }
    .footer__container__ul a:hover{
        letter-spacing: 0px;
    }

    /* ---------------------------NOSOTROS------------------------ */
    .main__nos__home__container{
        width: 100%;
        height: 50vh;
        text-align: center;
        color: white;
        position: absolute;
        content: "";
        left: 0;
    }
    .main__nos__home__container__h1{
        font-size: 11vw;
        margin: 0;
        font-weight: bold;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main__nos__home__container__h2{
        font-size: 6vw;
        margin-top: 0;
        font-weight: lighter;
    }
    .main__nos__home__media{
        position: absolute;
        content: "";
        visibility: hidden;
    }
    .main__nos__home__container p{
        font-size: 4vw;
    }
    .main__nos__home2{
        height: auto;
    }

    .main__nos__home2__h1{
        font-size: 11vw;
    }
    .main__nos__home__media2{
        flex-direction: column;
    }
    .main__nos__home__media2 img, video{
        width: 80vw;
        margin: 40px;
        height: auto;
    }

    /* ---------------------------TIENDA-------------------------- */
    
    .main__tienda{
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
        ),
    url("/assets/Images/bg_tienda2.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: auto ;
    padding: 5vh 0;
    }
    .main__tienda__navbar h1{
        color: white;
        font-size: 2rem;
        padding-bottom: 2vh;
    }
    .main__tienda__container__producto{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width:auto;
        margin: 7.5vh; 

    }
    .main__tienda__container__producto__info{
        opacity: 1;
    }

    .main__tienda__container__producto__info button{
        width: auto;
    }

    /* ---------------------------CRONOGRAMA-------------------------- */
    iframe{
        margin-top: 10vh;
        height: 50vh;
    }
    .main__crono__grid{
        
        width: 75%;
        height: auto;
    } 
    .main__crono__titulos{
        padding-top: 16vh;
        text-align: center;
    }
    .main__crono__titulos__h1{
        font-size: 2rem;
    }
    .main__crono__titulos__h2{
        font-size: 1rem;
    }

    /* ---------------------------CONTACTO-------------------------- */


    .main__pagcont__contacto{
        width: 75%;
        height: auto;
        margin: auto;
        border: none;
        padding-top: 10px;
    }
    .main__pagcont__h1{
        padding: 5vh 0;
    }
    .main__pagcont__contacto__ul{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        list-style:none;
        align-items: start;
        height: 100%;
        font-weight: bold;
    }
    .main__pagcont__contacto__ul li{
        margin: 10px;
    }
    
    .contact_form_detail, .contact_form_detail1{
        width: 60vw;
    }
    .row{
        flex-direction: column;
    }
    .submit_btn{
        width: 20vw;
    }

}





