.main{
    background:linear-gradient(
        0deg,
        rgba(32, 32, 32, 0.5),
        rgba(32, 32, 32, 0.5)
        ),url("/assets/Images/main1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1{
        font-size: 6rem;
    }
    h2{
        font-size: 3.5rem;
    }
    #unite{
        &:hover{background-color: green !important;}
    }
    .main__container__button{
        width: 10vw;
        height: 5vh;
        border-radius: 10px;
        border: solid 1px white;
        margin: 7vh auto;
        background-color: transparent  ;
        color: white;
        font-size: 1.5rem;
    }
        
}
@media screen and (min-width:0px) and (max-width:768px){
    .main{
        background-position: 75%;
        #unite{
            width: 50vw !important;
        }
    }
}