.section__crono{
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 2rem;
    }
}
.iframe__crono{
    height: 75vh; 
}
.main__crono__grid{
    display: grid;
    grid-template-columns: repeat(6, auto) ;
    grid-template-rows: 7vh repeat(3, auto);
    row-gap: 20px;
    column-gap: 20px;
    width: 75%;
    height: 100vh;
    
    background-color: transparent;
    margin: auto;
    .main__crono__grid__negro{
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
    }
    
    .main__crono__grid__info{
        background-color: rgba(179, 179, 179, 0.411);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 200px;
    }
}




