.main{
    background:linear-gradient(to top,rgba(32, 32, 32, 0.5),rgba(32, 32, 32, 0.5)),url("/assets/Images/main1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    div{
        h1{
            font-size: 6rem;
        }
        h2{
            font-size: 3.5rem;
        }
        #unite{
            &:hover{background-color: green !important;}
        }
    }
        
}
