@media screen and (min-width:0px) and (max-width:768px){
    header{
        background-color: rgba(0,0,0,1) !important;
    }
    .main{
        background-position: 75%;
        div{
            #unite{
                width: 50vw !important;
            }
        }
    }
    .main__nos__home{
        div{
            .img__nos{
                display: none;
            }
        }
    }
    
    .main__nos__home2{
        max-height: 100vh;
        height: auto;
    }

    .section__crono{
        h1{
            font-size: 3rem;
        }
        h2{
            font-size: 2rem;
        }
    }
    
    .main__pagcont__contacto{    
        margin: auto;
        ul{
            display: flex;
            flex-direction: column;
            font-weight: bold;
            li{
                border-bottom: 2px solid black;
                &:last-child{
                    border-bottom: none;
                }
            }
        }
    }
    form{
        .row{
            flex-direction: column;
            .col-4{
                .contact_form_detail{
                    width: 60vw !important;
                }
            }
        }
        .submit_btn{
            width: 20vw !important;
        }
    }
}